* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

/* reset */

body {
    background-color: black;
}

#container-header {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: flex-end;
    gap: 5px;


    color: white;

    /* test  */
    border-style: dashed;
}

.buttons-header {
    display: flex;
    padding: 5px;
    margin: 5px;


    border-radius: 5px;
    font-size: 15px;
    background-color: #4a4a4a;

}